In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np

In [4]:
df = pd.read_csv('Emi Martinez Stats.csv')
df['num'] = range(1, len(df) + 1)
df.to_csv('new Emi Martinez Stats.csv', index=False)
df.head()

         Date Venue  SoTA   GA  Saves  Save%  PSxG  PSxG-GA  num
0  2022-08-06  Away     3  2.0      1   33.3   0.5     -1.5    1
1  2022-08-13  Home     4  1.0      4   75.0   0.9     -0.1    2
2  2022-08-20  Away     9  3.0      5   66.7   3.9      0.9    3
3  2022-08-28  Home     2  1.0      1   50.0   0.1     -0.9    4
4  2022-08-31  Away     8  2.0      6   75.0   2.2      0.2    5

In [6]:
df1 = df.iloc[:, :11] 
df2 = df.iloc[:, 11:]